<?php $application = $this->getApplication(); ?>
<?php $option = $this->getCurrentOption(); ?>
<?php $cart = $this->getSession()->getCart(); ?>
<div class="mcommerce cart">
    <div id="cart_content" class="relative" rel="cart">
        <div class="scroll" class="relative">
            <div id="cart_lines" class="padding cart_lines">
                <?php if($cart->getLines()->count()) : ?>
                <div class="padding">
                    <div class="title">
                        <h2><?php echo $this->_('My Cart'); ?></h2>
                        <hr class="background reverse" />
                    </div>
                    <?php foreach($cart->getLines() as $k => $line) : ?>
                    <div id="cart_line_<?php echo $line->getId(); ?>" class="padding<?php if($k == 0): ?> first<?php endif; ?>">
                        <?php if($line->getProduct()->getPictureUrl()) : ?>
                        <div class="picture left">
                            <img width="70px" height="70px" src="<?php echo $line->getProduct()->getPictureUrl() ?>" />
                        </div>
                        <?php endif; ?>
                        <div class="details left none">
                            <p class="product_name auto_resize"><?php echo $line->getName(); ?></p>
                            <div class="left">
                                <p class="product_details"><?php echo $this->_('Price: %s', $line->getFormattedPrice()); ?></p>
                                <p class="product_details"><?php echo $this->_('Qty: %s', $line->getQty()); ?></p>
                                <p class="product_details"><?php echo $this->_('Total: %s', $line->getFormattedTotal()); ?></p>
                            </div>
                            <div class="right">
                                <button type="button" class="more" onclick="page.getSubpage('cart').toggleCartLineDetails('cart_line_details_<?php echo $line->getId(); ?>');">
                                </button>
                                <button type="button" class="remove" onclick="page.getSubpage('cart').removeCartLine('cart_line_<?php echo $line->getId(); ?>');">
                                </button>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <?php if($line->getOptions()) : ?>
                        <div id="cart_line_details_<?php echo $line->getId(); ?>" class="details product_options right" style="display:none;">
                            <p class="product_details"><?php echo $line->getQty(); ?>x <?php echo $line->getName(); ?> : <?php echo $line->getFormattedBasePrice(); ?></p>
                            <?php foreach($line->getOptions() as $line_option) : ?>
                            <p class="product_details"><?php echo $line_option->getQty(); ?>x <?php echo $line_option->getName(); ?> : <?php echo $line_option->getFormattedPrice(); ?></p>
                            <?php endforeach ?>
                        </div>
                        <?php endif ?>
                        <input type="hidden" name="line_id" value="<?php echo $line->getId(); ?>" />
                        <input type="hidden" name="option_value_id" value="<?php echo $option->getId(); ?>" />
                    </div>
                    <div class="clear"></div>
                    <?php endforeach; ?>
                </div>
                <br />

                <div class="padding">
                    <div class="title">
                        <h2 class="title"><?php echo $this->_('Total'); ?></h2>
                        <hr class="background reverse" />
                    </div>

                    <table class="no-collapse right" width="75%" cellspacing="10">
                         <tr class="cart_totals">
                            <th class="align-left"><?php echo $this->_('Subtotal'); ?></th>
                            <td class="align-right"><?php echo $cart->getFormattedSubtotalExclTax(); ?></td>
                        </tr>
                        <?php if($cart->getDeliveryCost() > 0) : ?>
                        <tr class="cart_totals">
                            <th class="align-left"><?php echo $this->_('Delivery fees'); ?></th>
                            <td class="align-right"><?php echo $cart->getFormattedDeliveryCost(); ?></td>
                        </tr>
                        <tr class="cart_totals">
                            <th class="align-left"><?php echo $this->_('Total Excl. Tax'); ?></th>
                            <td class="align-right"><?php echo $cart->getFormattedTotalExclTax(); ?></td>
                        </tr>
                        <?php endif; ?>
                        <tr class="cart_totals">
                            <th class="align-left"><?php echo $this->_('Tax'); ?></th>
                            <td class="align-right"><?php echo $cart->getFormattedTotalTax(); ?></td>
                        </tr>
                        <tr class="cart_totals">
                            <th class="align-left"><?php echo $this->_('Total'); ?></th>
                            <td class="align-right"><?php echo $cart->getFormattedTotal(); ?></td>
                        </tr>
                    </table>
                    <div class="clear"></div>
                </div>
                <?php else : ?>
                <div class="padding">
                    <div class="title">
                        <h2><?php echo $this->_('My Cart'); ?></h2>
                        <hr class="background reverse" />
                    </div>
                    <div>
                        <a href="javascript:void(0);" class="is_ajax" onclick="page.getSubpage('cart').goBackToCatalog();"><?php echo $this->_('My cart is empty'); ?></a>
                    </div>
                </div>
                <?php endif; ?>
                <div class="padding">
                    <div class="title">
                        <!--<h2><?php echo $this->_('Others'); ?></h2>-->
                        <hr class="background reverse" />
                    </div>
                    <div>
                        <a href="javascript:void(0);" class="is_ajax" onclick="page.getSubpage('cart').goBackToCatalog();"><?php echo $this->_('Continue shopping'); ?></a>
                    </div>
                    <?php //echo $cart->getPaypalUrl(); ?>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        var subpage = page.getSubpage('cart');
        subpage.setCallback('didappear', function() {
            this.setScrollview(new iScroll('cart_content', {
                hScroll: false
            })).setContentSize();

            page.destroySubpage('mcommerce_purchase_customer');
        });

        subpage.setContentSize = function() {
            var width = $('#cart_lines').width();
            $('#cart_lines').find('.details').each(function() {
                $(this).css('width', width - $(this).prev('.picture').outerWidth(true));
            });
            $('#cart_lines').find('.details.none').fadeIn(200);
        }
        subpage.goBackToCatalog = function() {
            var datas = {
                id: '<?php echo $option->getId(); ?>',
                url: '<?php echo $option->getUrl('view', array('option_value_id' => $option->getId()), false); ?>',
                isAjax: 1,
                callbacks: {
                    didcreate: function() {
                        page.slide(this, 'back');
                    }
                }
            }

            var catalog_page = page.getSubpage(datas.id);
            if(catalog_page) {
                page.slide(catalog_page, 'back');
            }
            else {
                page.showSubpage(datas, true);
            }

            return this;
        }

        subpage.submit = function(id) {
            var purchase_page = page.getSubpage('mcommerce_purchase_customer');
            if(!purchase_page) {
                purchase_page = {
                    id: 'mcommerce_purchase_customer',
                    url: '<?php echo $this->getUrl('mcommerce/mobile_purchase/customer', array('option_value_id' => $option->getId())); ?>',
                    isAjax: 1
                }
            }
            page.showSubpage(purchase_page);
            return this;
        }

        subpage.toggleCartLineDetails = function(id) {
            $('#'+id).stop().slideToggle(300, function() {this.scrollview.refresh();}.bind(this));
            return this;
        }

        subpage.removeCartLine = function(id) {

            var confirm = new Alert('<?php echo addslashes($this->_('Are you sure you want to remove this product?')); ?>', 'confirm');

            confirm.needConfirmation(1);
            confirm.setConfirmationCallback(function() {
                var xhr = this.createRequest('remove_cart_line', '<?php echo $this->getUrl('mcommerce/mobile_cart/remove'); ?>');
                xhr.setOnSuccess(function(datas) {
                    if(datas.success) {
                        $('#cart_line_'+datas.line_id).addClass('animated slow').addClass('toPlayerLeft');
                        $('#cart_line_'+datas.line_id).slideUp(500, function() {$(this).remove();});
                        setTimeout(function() {
                            this.refresh();
                        }.bind(this), 500);
                    }
                }.bind(this)).setDatas($('#'+id).find('input').serializeArray())
                    .send()
                ;
            }.bind(this));

            confirm.show();

            return this;
        }

        subpage.onClose = function() {
            page.destroySubpage(this);
        }

    </script>
    <style>

        .mcommerce div.title hr {
            height: 1px;
            margin: 10px 0;
        }
        .mcommerce div.title h2 {
            font-size: 17px;
        }
        .mcommerce ul.list {
            margin: 0 10px 10px 0;
        }
        .mcommerce ul.list li {
            position: relative;
            height: 30px;
            margin-bottom: 10px;
            padding-left: 30px;
            line-height: 20px;
        }
        .mcommerce ul.list li label.noclickdelay {
            padding: 10px;
        }

        .mcommerce .cart_lines button {
            width:30px;
            height:30px;
            background-color: transparent;
        }
        .mcommerce .cart_lines button.more {
            background: url(<?php echo $this->getColorizedImage(234, $this->getApplication()->getBlock('background')->getColor()); ?>) no-repeat center center;
            background-size: 20px 20px;
        }

        .mcommerce .cart_lines button.remove {
            background: url(<?php echo $this->getUrl('template/block/colorize', array('path' => base64_encode($this->getImage('pictos/trash.png')), 'color' => str_replace('#', '', $this->getApplication()->getBlock('background')->getColor()))); ?>) no-repeat center center;
            background-size: 15px auto;
        }
        .mcommerce .cart_lines div.padding {
            padding-left:0px;
            padding-right:0px;
        }
        .mcommerce .cart_lines div.padding.first {
            padding-top:0;
        }
        .mcommerce .cart_lines div.picture {
            width:70px;
            margin-right: 10px;
        }
        .mcommerce .cart_lines div.details {

        }
        .mcommerce .cart_lines div.details p {
            margin:0;
        }
        .mcommerce .cart_lines div.details p.product_name {
            margin-top:0;
            margin-bottom:5px;
            margin-left:0px;
            font-size:15px;
            font-weight:bold;
        }

        .mcommerce .cart_lines p.product_details {
            margin-top:5px;
            margin-bottom:5px;
            font-size:12px
        }
        .mcommerce .cart_lines p.product_details.last {
            margin-bottom:0;
        }

    </style>
</div>
