<sb-section title="section_title">

    <div class="area">
        <div>
            <div class="col-md-6">
                <p><h4>{{ my_info.name }}</h4></p>
                <p ng-bind-html="my_info.address"></p>
                <p>{{ my_info.country }}</p>
            </div>
            <div class="col-md-6">
                <p><h4>{{ invoice.admin_name }}</h4></p>
                <p ng-bind-html="invoice.admin_address"></p>
                <p>{{ invoice.admin_country }}</p>
                <p>{{ invoice.admin_vat_number }}</p>
            </div>
            <div class="clear"></div>
        </div>

        <br />
        <div class="">
            <p>
                <span><strong>Numéro de facture :</strong> {{ invoice.number }} </span><br/>
                <span><strong>Date de création :</strong> {{ invoice.formatted_created_at }} </span><br/>
                <span><strong>Date de réception du paiement :</strong> {{ invoice.formatted_created_at }} </span>
            </p>
        </div>
        <br />
        <div class="">
            <div>
                <table class="table" width="100%">
                    <col width="60%" />
                    <col width="15%" />
                    <col width="10%" />
                    <col width="15%" />
                    <tr>
                        <th>Désignation</th>
                        <th>Prix unitaire HT</th>
                        <th>Qté</th>
                        <th>Total HT</th>
                    </tr>
                    <tr ng-repeat="line in invoice.lines">
                        <td>{{ line.name }}</td>
                        <td align="right">{{ line.formatted_price_excl_tax }}</td>
                        <td align="center">{{ line.qty }}</td>
                        <td align="right">{{ line.formatted_total_price_excl_tax }}</td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <th colspan="2">Total</th>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td>Total HT</td>
                        <td align="right">{{ invoice.formatted_subtotal_excl_tax }}</td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td>TVA ({{ invoice.tax_rate }})</td>
                        <td align="right">{{ invoice.formatted_total_tax }}</td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td><strong>Total TTC</strong></td>
                        <td align="right"><strong>{{ invoice.formatted_total }}</strong></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</sb-section>