<?php $application = $this->getApplication(); ?>
<?php $option = $this->getCurrentOption(); ?>
<?php $cart = $this->getSession()->getCart(); ?>
<?php $stores = $option->getObject()->getStores(); ?>
<?php $current_store = $cart->getStore()->getId() ? $cart->getStore() : $option->getObject()->getDefaultStore(); ?>
<div class="mcommerce purchase shipping">
    <div id="shipping_infos_content" class="relative" rel="mcommerce_purchase_shipping">
        <div class="scroll" class="relative">
            <div class="padding cart_lines">
                <form id="purchase_shipping_form" action="<?php echo $this->getUrl('mcommerce/mobile_purchase/shippingpost'); ?>">
                    <?php if($stores->count() > 1) : ?>
                    <div class="padding">
                        <label for="choose_a_store" class="noclickdelay"><?php echo $this->_('Choose a store:'); ?></label>
                        <div class="padding">
                            <select id="choose_a_store" name="store_id" class="full_width" style="padding:10px;">
                                <option value=""></option>
                                <?php foreach($stores as $store) : ?>
                                <option value="<?php echo $store->getId(); ?>"<?php if($current_store->getId() == $store->getId()) : ?> selected="selected"<?php endif; ?>><?php echo $store->getName(); ?></option>
                                <?php endforeach ?>
                            </select>
                        </div>
                    </div>
                    <?php else : ?>
                    <input type="hidden" name="store_id" value="<?php echo $current_store->getId(); ?>" />
                    <?php endif; ?>

                    <div class="padding">
                        <label><?php echo $this->_('Choose a delivery method:'); ?></label>
                        <div class="padding">
                            <?php foreach($stores as $store) : ?>
                            <ul id="delivery_methods_<?php echo $store->getId(); ?>" class="list delivery_methods" rel="<?php echo $store->getId(); ?>"<?php if($current_store->getId() != $store->getId()) : ?> style="display:none"<?php endif; ?>>
                                <?php foreach($store->getDeliveryMethods() as $method) : ?>
                                <?php $method->setCart($cart); ?>
                                <?php if($method->isAvailable()) : ?>
                                <li>
                                    <label for="delivery_method_<?php echo $store->getId(); ?>_<?php echo $method->getId(); ?>" class="noclickdelay">
                                        <?php echo $method->getName(); ?>
                                        <?php if($method->getPrice() > 0) : ?>(<?php echo $method->getFormattedPrice(); ?>)<?php endif; ?>
                                    </label>
                                    <input type="radio" id="delivery_method_<?php echo $store->getId(); ?>_<?php echo $method->getId(); ?>" name="delivery_method_id" class="delivery_method checkbox" value="<?php echo $method->getMethodId(); ?>" <?php if($cart->getDeliveryMethodId() == $method->getMethodId() AND $cart->getStoreId() == $store->getId()) : ?> checked="checked"<?php endif; ?> />
                                </li>
                                <?php endif; ?>
                                <?php endforeach ?>
                            </ul>
                            <?php endforeach; ?>
                        </div>
                    </div>
                    <input type="hidden" name="option_value_id" value="<?php echo $option->getId(); ?>" />
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        var subpage = page.getSubpage('mcommerce_purchase_shipping');
        subpage.setCallback('willappear', function() {

            $('#shipping_infos_content').find('input.checkbox').iCheck({
                checkboxClass: 'icheckbox_flat',
                radioClass: 'iradio_flat'
            });
//            this.setScrollview(new iScroll('shipping_infos_content', {
//                hScroll: false
//            }));
            <?php if($stores->count() > 1) : ?>
            $('#choose_a_store').change(function() {
                $('#purchase_shipping_form').find('input.delivery_method').prop('checked', null);
                $('#purchase_shipping_form').find('.iradio_flat').removeClass('checked');
                var store_id = $('#choose_a_store').val();
                $('#shipping_infos_content').find('.delivery_methods').each(function() {
                    if($(this).attr('rel') == store_id) $(this).fadeIn();
                    else $(this).hide();
                });
            });
            <?php endif; ?>

        }).setCallback('didappear', function() {
            page.destroySubpage('mcommerce_purchase_payment');
        }).setCallback('diddisappear', function() {
            $('#shipping_infos_content').find('input.checkbox').iCheck('destroy');
        });

        subpage.submit = function() {
            var form = $('#purchase_shipping_form');
            if(!form.valid()) return false;

            var xhr = this.getRequest('save_shipping');
            if(!xhr) {
                xhr = this.createRequest('save_shipping', form.attr('action'));
                xhr.setOnSuccess(function(datas) {
                    if(datas.id) {
                        page.refreshSubpage('cart');
                        page.showSubpage(datas);
                    }
                });
            }

            xhr.setDatas(form.serializeArray()).send();
        }

    </script>
</div>
