<?php $option = $this->getOptionValue(); ?>
<?php $mcommerce = $this->getCurrentMcommerce(); ?>
<?php $product = $this->getCurrentProduct(); ?>
<?php $group = new Catalog_Model_Product_Group_Value(); ?>
<?php $groups = $group->findAllGroups($product->getId(), $this->getApplication()->getId()); ?>
<div>
    <form id="productEditForm" method="post" action="<?php echo $this->getUrl('mcommerce/application_catalog_product/editpost'); ?>">
        <div class="buttons">
            <button type="button" onclick="products.close();" class="delete left"><i class="icon-arrow-left"></i></button>
            <button type="submit" class="default_button right" ><?php echo $this->_('OK'); ?></button>
            <?php if($product->getId()) : ?>
            <button type="button" onclick="products.remove('<?php echo $product->getId(); ?>');" class="delete remove_product right"><i class="icon-remove"></i></button>
            <?php endif; ?>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>

        <fieldset>
            <h4 class="subtitle">
                <span class="left area">
                    <?php if(!$product->getId()) : ?>
                    <?php echo $this->_("Create a new product"); ?>
                    <?php else : ?>
                    <?php echo $this->_('Edit the product %s', strlen($product->getName()) > 20 ? substr($product->getName(), 0, 20).'...' : $product->getName()); ?>
                    <?php endif; ?>
                </span>
                <hr class="area reverse">
                <div class="clear"></div>
            </h4>
            <table class="list list-input" width="100%">
                <tr>
                    <td><label for="product_name"><?php echo $this->_('Product name:'); ?></label></td>
                    <td><input class="name required input" type="text" id="product_name" value="<?php echo $product->getName(); ?>" name="name" placeholder="<?php echo $this->_("Product name"); ?>" /></td>
                </tr>
                <tr>
                    <td><label for="product_description"><?php echo $this->_('Description:'); ?></label></td>
                    <td>
                        <textarea rows="5" class="description input" type="text" id="product_description" name="description" placeholder="<?php echo $this->_('Description'); ?>">
                            <?php echo $product->getDescription(); ?>
                        </textarea>
                    </td>
                </tr>
                <tr>
                    <td><label for="product_tax"><?php echo $this->_('Tax:'); ?></label></td>
                    <td>
                        <select id="product_tax" name="tax_id">
                            <?php foreach($mcommerce->getTaxes() as $tax) : ?>
                            <option value="<?php echo $tax->getId(); ?>"<?php if($product->getTaxId() == $tax->getId()) : ?> selected="selected"<?php endif; ?>><?php echo $tax->getName(); ?></option>
                            <?php endforeach ?>
                        </select>
                    </td>
                </tr>
                <tr class="simple">
                    <td><label for="product_price"><?php echo $this->_('Price:'); ?></label><p class="s-font">(<?php echo $this->_('without taxes'); ?>)</p></td>
                    <td><input class="price required number input" type="text" id="product_price" value="<?php echo $product->getPrice(); ?>" name="price" placeholder="<?php echo $this->_('Price'); ?>" /></td>
                </tr>
                <tr>
                    <td><label><?php echo $this->_('Picture');?> : </label></td>
                    <td>
                        <div class="relative">
                            <img id="product_picture_img" <?php if(!$product->getPicture()) : echo ' style="display:none" '; endif; ?> src="<?php echo $product->getPictureUrl() ?>" width="100px" />
                            <button id="upload_product_picture" class="upload_picture default_button btn-block" type="button"<?php if($product->getPictureUrl()) : ?> style="display:none"<?php endif; ?>>
                                <?php echo $this->_("Add a picture") ; ?>
                            </button>
                            <input id="product_picture_file" class="uploader" style="display:none" type="file" name="files[]" data-url="<?php echo $this->getUrl('template/crop/upload'); ?>">
                            <a id="remove_product_picture" class="remove_background_img" <?php if(!$product->getPicture()) : echo ' style="display:none" '; endif; ?> href="javascript:void(0)"><i class="icon-remove"></i></a>
                        </div>
                    </td>
                </tr>
            </table>
        </fieldset>

        <fieldset id="product_group_options">
            <h4 class="subtitle">
                <span class="left area"><?php echo $this->_("My product's options"); ?></span>
                <hr class="area reverse">
                <span class="area right">
                    <button type="button" class="default_button edit_option_group add right">
                        <i class="icon-plus"></i>
                    </button>
                </span>
                <div class="clear"></div>
            </h4>
            <div>

                <ul id="groups_list" class="tree clear">
                <?php if($groups->count() > 0) : ?>

                <!--<ul id="groups_list" class="tree clear">-->
                <?php foreach($groups as $group) : ?>
                    <?php $group_options = $group->getAllOptions($product->getId()); ?>
                    <?php if($group_options->count()) : ?>
                    <?php echo $this->getLayout()->addPartial('group_row_'.$group->getGroupId(), 'admin_view_default', 'mcommerce/application/edit/catalog/products/edit/group.phtml')
                            ->setCurrentGroup($group)
                            ->setCurrentGroupOptions($group_options)
                            ->toHtml()
                        ;
                    ?>
                    <?php endif ?>
                <?php endforeach ?>
                <!--</ul>-->

                <?php endif; ?>
                </ul>
                <?php if(!$groups->count()) : ?>
                <?php echo $this->createPartialHtml('no_item', 'core_view_default', 'application/customization/features/edit/no_item.phtml'); ?>
                <?php endif; ?>

            </div>
        </fieldset>

        <fieldset>
            <h4 class="subtitle">
                <span class="left area"><?php echo $this->_("My product's categories"); ?></span>
                <hr class="area reverse">
                <div class="clear"></div>
            </h4>
            <div>

                <?php $categories = $mcommerce->getRootCategory()->getChildren(); ?>
                
                <?php if($categories->count()) : ?>

                <ul id="product_category_root" class="clear tree">
                <?php foreach($categories as $category) : ?>

                    <?php echo $this->getLayout()->addPartial('root_category_'.$category->getId(), get_class($this), 'mcommerce/application/edit/catalog/products/edit/categories.phtml')
                        ->setCurrentProduct($product)
                        ->setCategory($category)
                        ->toHtml()
                    ;
                    ?>

                <?php endforeach; ?>
                </ul>

                <?php else : ?>
                <p><?php echo $this->_("You don't have any categories yet"); ?></p>
                <?php endif; ?>

            </div>
        </fieldset>
        <?php if($product->getId()) : ?>
            <input type="hidden" name="product_id" id="product_id" value="<?php echo $product->getId() ?>" />
        <?php endif; ?>
        <input type="hidden" name="option_value_id" value="<?php echo $option->getId() ?>" />
        <input id="remove_product_<?php echo $product->getId(); ?>" type="hidden" name="is_deleted" value="0" />
        <input type="hidden" id="product_picture" name="picture" value="<?php echo $product->getPicture(); ?>" />
        <input type="hidden" name="remove_picture" id="delete_product_picture" value="" />

    </form>
</div>