<div class="login-container">
	<div class="login-box animated fadeInDown">
		<div class="login-logo"></div>
		<div class="login-body">
			<div class="login-title"><strong>Welcome</strong>, Please login</div>
			<!-- Login form -->
			<form action="<?php echo $this->getUrl('admin/account/loginpost') ?>" class="form-horizontal" method="post" id="loginForm">
				<div class="form-group">
					<div class="col-md-12">
						<input type="text" id="email" class="form-control required email" name="email" placeholder="<?php echo $this->_(" Email "); ?>" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12">
						<input type="password" id="password" class="form-control required" name="password" placeholder="<?php echo $this->_(" Password "); ?>" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-6">
						<a href="javascript:void(0);" id="btnForgotPassword" class="btn btn-link btn-block">
							<?php echo $this->_('Forgot your password ?'); ?>
						</a>
					</div>
					<div class="col-md-6">
						<button type="submit" class="btn btn-info btn-block">
							<?php echo $this->_('Log in'); ?>
						</button>
					</div>
				</div>
				<div class="login-subtitle">
                    Don't have an account yet?
                    <a href="#" id="btn-signup">
						<?php echo $this->_("Create an account"); ?>
					</a>
                </div>
			</form>
			<!-- Signup form -->
			<form action="<?php echo $this->getUrl('admin/account/signuppost') ?>" method="post" id="signupForm" class="form-horizontal none">
				<div class="form-group">
					<div class="col-md-12">
						<input type="text" id="email" class="form-control required email" name="email" placeholder="<?php echo $this->_(" Email "); ?>" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12">
						<input type="password" id="password" class="form-control required" name="password" placeholder="<?php echo $this->_(" Password "); ?>" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12">
						<input type="password" id="confirm_password" class="form-control required" name="confirm_password" placeholder="<?php echo $this->_(" Confirm your password "); ?>" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12">
						<button type="submit" class="btn btn-info btn-block">
							<?php echo $this->_('Sign up'); ?>
						</button>
					</div>
				</div>
				<div class="login-subtitle">
                    Already have an account?
                    <a href="#" id="btn-login">
						<?php echo $this->_("Log in"); ?>
					</a>
                </div>
			</form>
			<!-- Forgot password -->
			<form action="<?php echo $this->getUrl('admin/account/forgotpasswordpost') ?>" method="post" id="forgotpasswordForm" class="form-horizontal none">
				<div class="form-group">
					<div class="col-md-12">
						<p>
							<?php echo $this->_('Forgot your password? Don\'t worry! Simply enter your email address and we\'ll send you a new one right now.'); ?>
						</p>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12">
						<input type="text" id="email" class="form-control required email" name="email" placeholder="<?php echo $this->_(" Email "); ?>" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-6">
						<button type="button" id="btnBackForgotPassword" class="btn btn-danger btn-block">
							<i class="fa fa-arrow-left"></i> Back
						</button>
					</div>
					<div class="col-md-6">
						<button type="submit" class="btn btn-info btn-block">
							<?php echo $this->_('Send'); ?>
						</button>
					</div>
				</div>
			</form>
		</div>
		<div class="login-footer">
			<div class="pull-left">
				&copy; 2014 AppName
			</div>
			<div class="pull-right">
				<a href="#">About</a> |
				<a href="#">Privacy</a> |
				<a href="#">Contact Us</a>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$('#loginForm').submit(function() {
		if (!$(this).valid()) return false;
	});

	$('#forgotpasswordForm').submit(function() {
		if (!$(this).valid()) return false;

	});

	$('#btnForgotPassword').click(function() {
		$('#loginForm').hide();
		$('#forgotpasswordForm').fadeIn();
	});

	$('#btnBackForgotPassword').click(function() {
		$('#forgotpasswordForm').hide();
		$('#loginForm').fadeIn();
	});
	</script>
	<style>
	.content.application {
		width: 500px;
	}
	
	.content.application .application_content {
		width: auto;
	}
	
	.content.application .application_content .area {
		background: transparent !important;
		color: #404040 !important;
	}
	</style>
</div>
<script type="text/javascript">
	login_urls = {
		checklogin_post: '<?php echo $this->getUrl('admin/account/check'); ?>',
		signin_post: '<?php echo $this->getUrl('admin/account/loginpost'); ?>',
		signup_post: '<?php echo $this->getUrl('admin/account/signuppost'); ?>',
		forgotpassword_post: '<?php echo $this->getUrl('admin/account/forgotpasswordpost'); ?>',
	}

	$('#btn-login').click(function() {
		$('#signupForm').hide();
		$('#loginForm').fadeIn();
	});
	$('#btn-signup').click(function() {
		$('#loginForm').hide();
		$('#signupForm').fadeIn();
	});
</script>