<div class="padlock padding a-center">
    <div class="content">
        <h1><?php echo $this->_("Access restricted to authorized members only"); ?></h1>
        <div ng-if="customerIsLoggedIn">
            <p><?php echo $this->_("We are sorry but your account does not have enough permissions to access this page"); ?></p>
            <button type="button" class="button" ng-click="logout()">
                <?php echo $this->_("Disconnect") ?>
            </button>
        </div>
        <div ng-if="!customerIsLoggedIn">
            <br />
            <a href="<?php echo $this->getPath("customer/mobile_account_login");?>" class="button icon_left arrow_right">
                <?php echo $this->_('Log-in'); ?>
            </a>
            <a href="<?php echo $this->getUrl('customer/mobile_account_register'); ?>" class="button icon_left arrow_right">
                <?php echo $this->_('Create an account'); ?>
            </a>
        </div>
    </div>
</div>