
<div class="content application">
    <div class="application_content">
        <div class="area">

            <ul id="nav-login" class="nav nav-tabs" role="tablist">
                <li style="width:50%" class="text-center active"><a href="#" rel="login"><?php echo $this->_("Log in"); ?></a></li>
                <li style="width:50%" class="text-center"><a href="#" rel="signup"><?php echo $this->_("Sign up"); ?></a></li>
            </ul>

            <div>
                <br />
                <form action="<?php echo $this->getUrl('admin/account/loginpost') ?>" method="post" id="loginForm">

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="email"><?php echo $this->_("Email"); ?></label>
                            <input type="text" id="email" class="form-control required email" name="email" placeholder="<?php echo $this->_("Email"); ?>" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="password"><?php echo $this->_("Password"); ?></label>
                            <input type="password" id="password" class="form-control required" name="password" placeholder="<?php echo $this->_("Password"); ?>" />
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <a href="javascript:void(0);" id="btnForgotPassword"><?php echo $this->_('Forgot your password ?'); ?></a>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <button type="submit" class="signin signin_content btn btn-primary"><?php echo $this->_('Log in'); ?></button>
                        </div>
                    </div>

                </form>

                <form action="<?php echo $this->getUrl('admin/account/signuppost') ?>" method="post" id="signupForm" class="none">

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="email"><?php echo $this->_("Email"); ?></label>
                            <input type="text" id="email" class="form-control required email" name="email" placeholder="<?php echo $this->_("Email"); ?>" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="password"><?php echo $this->_("Password"); ?></label>
                            <input type="password" id="password" class="form-control required" name="password" placeholder="<?php echo $this->_("Password"); ?>" />
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="confirm_password"><?php echo $this->_("Confirm your password"); ?></label>
                            <input type="password" id="confirm_password" class="form-control required" name="confirm_password" placeholder="<?php echo $this->_("Confirm your password"); ?>" />
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <button type="submit" class="signin signin_content btn btn-primary"><?php echo $this->_('Sign up'); ?></button>
                        </div>
                    </div>

                </form>

                <div class="clear"></div>

                <form action="<?php echo $this->getUrl('admin/account/forgotpasswordpost') ?>" method="post" id="forgotpasswordForm" class="none">

                    <div class="col-md-12">
                        <div class="form-group">
                            <p class="signin_content"><?php echo $this->_('Forgot your password? Don\'t worry! Simply enter your email address and we\'ll send you a new one right now.'); ?></p>
                        </div>
                    </div>
                    <br />
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="email"><?php echo $this->_("Email"); ?></label>
                            <input type="text" id="email" class="form-control required email" name="email" placeholder="<?php echo $this->_("Email"); ?>" />
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <button type="button" id="btnBackForgotPassword" class="btn btn-danger"><i class="icon-arrow-left"></i></button>
                            <button type="submit" class="forgot_password_content btn btn-primary"><?php echo $this->_('Send'); ?></button>
                        </div>
                    </div>
                </form>

                <div class="clear"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $('#loginForm').submit(function() {
            if(!$(this).valid()) return false;
        });

        $('#forgotpasswordForm').submit(function() {
            if(!$(this).valid()) return false;

        });

        $('#btnForgotPassword').click(function() {
            $('#loginForm').hide();
            $('#forgotpasswordForm').fadeIn();
        });

        $('#btnBackForgotPassword').click(function() {
            $('#forgotpasswordForm').hide();
            $('#loginForm').fadeIn();
        });
    </script>
    <style>

        .content.application {
            width: 500px;
        }
        .content.application .application_content {
            width: auto;
        }
        .content.application .application_content .area {
            background: transparent !important;
            color: #404040 !important;
        }
    </style>
</div>

<script type="text/javascript">
    login_urls = {
        checklogin_post: '<?php echo $this->getUrl('admin/account/check'); ?>',
        signin_post: '<?php echo $this->getUrl('admin/account/loginpost'); ?>',
        signup_post: '<?php echo $this->getUrl('admin/account/signuppost'); ?>',
        forgotpassword_post: '<?php echo $this->getUrl('admin/account/forgotpasswordpost'); ?>',
    }

    $('#nav-login a').click(function() {
        if($(this).hasClass("active")) return false;
        if($(this).attr("rel") == "login") {
            $('#signupForm').hide();
            $('#loginForm').fadeIn();
        } else {
            $('#loginForm').hide();
            $('#signupForm').fadeIn();
        }

        $("#nav-login li").removeClass("active");
        $(this).parent("li").addClass("active");
    });

</script>