<?php $group = $this->getCurrentGroup(); ?>
<?php $group_options = $this->getCurrentGroupOptions(); ?>
<li id="group_<?php echo $group->getGroupId(); ?>" class="">
    <a href="javascript:void(0)" id="edit_option_group_<?php echo $group->getGroupId(); ?>" class="edit_option_group left" rel="<?php echo $group->getGroupId(); ?>">
        <i class="icon-edit"></i>
    </a>
    <label for="toggle_group_options_<?php echo $group->getGroupId(); ?>" id="label_toggle_group_options_<?php echo $group->getGroupId(); ?>" class="label_toggle_group_options checkbox left">
        <input type="checkbox" class="toggle_group_options toggle_group_options_<?php echo $group->getGroupId(); ?>" value="<?php echo $group->getGroupId(); ?>" name="group[<?php echo $group->getGroupId(); ?>][group_id]" id="toggle_group_options_<?php echo $group->getGroupId(); ?>"<?php if($group->getIsSelected()) : ?> checked="checked"<?php endif; ?>>
        <span id="title_toggle_group_options_<?php echo $group->getGroupId(); ?>"><?php echo $group->getTitle() ?></span>
    </label>
    <input type="hidden" id="group_option_is_deleted_<?php echo $group->getGroupId(); ?>" name="group[<?php echo $group->getGroupId(); ?>][is_deleted]" value="1" disabled="disabled" />
    <!--<button type="button" id="toggle_group_options_<?php echo $group->getGroupId(); ?>" class="default_button left toggle_group_options toggle_children" rel="<?php echo $group->getGroupId(); ?>"><i class="icon-plus"></i></button>-->

    <div id="group_options_<?php echo $group->getGroupId(); ?>" class="group_options clear"<?php if(!$group->getIsSelected()) : ?> style="display:none;"<?php endif; ?>>
        <table class="node list">
            <?php foreach($group_options as $group_option) : ?>
            <?php echo $this->getLayout()->addPartial('group_option_row_'.$group_option->getOptionId(), 'admin_view_default', 'mcommerce/application/edit/catalog/products/edit/group/row.phtml')
                    ->setCurrentGroup($group)
                    ->setCurrentGroupOption($group_option)
                    ->toHtml()
                ;
            ?>
            <?php endforeach ?>
        </table>
    </div>

    <div class="clear"></div>
</li>