<?php $group_option = $this->getCurrentGroupOption(); ?>
<?php $id = $group_option->getId() == 'new' ? '#{id}' : $group_option->getOptionId(); ?>
<tr id="row_group_option_edit_<?php echo $group_option->getId() == 'new' ? 'new' : $group_option->getOptionId(); ?>" class="row_group_option_edit"<?php if($group_option->getId() == 'new') : ?> style="display:none;"<?php endif; ?>>
    <td class="label"><label for="option_name_<?php echo $id; ?>"><?php echo $this->_("Option name:"); ?></label></td>
    <td><input class="name required input" type="text" id="option_name_<?php echo $id; ?>" value="<?php echo $group_option->getName(); ?>" name="new_option[<?php echo $id; ?>][name]" placeholder="<?php echo $this->_("Option name"); ?>" /></td>
    <td>
        <button type="button" class="delete" onclick="javascript:products.groups.group.removeOption('<?php echo $id; ?>');"><i class="icon-remove"></i></button>
        <input type="hidden" value="<?php echo $group_option->getOptionId(); ?>" name="new_option[<?php echo $id; ?>][option_id]" />
    </td>
</tr>