<div class="mcommerce cart">
    <div id="mcommerce_purchase_success_content" class="relative" rel="mcommerce_purchase_confirm">
        <div class="scroll" class="relative">
            <div class="padding">
                <p><?php echo $this->_('We thank you for your order. A confirmation email has been sent'); ?></p>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        var subpage = page.getSubpage('mcommerce_purchase_success');

        subpage.setBackButtonAction(function() {
            var page_id = this.id;
            page.homepage.setCallback('is_now_visible', function() {
                page.destroySubpage(page_id);
                this.unsCallback('is_now_visible');
            });
            page.destroySubpage('cart');
            page.showHomepage();
        });

    </script>
</div>