/** GENERAL **/
* { max-width:100%; margin:0; padding:0; border:none; font-family: Arial, sans-serif;}

body { font-size: 15px; -webkit-user-select : none; -webkit-text-size-adjust : none; -webkit-touch-callout: none; line-height:1; background-color:white; overflow-x: hidden; }
body.no_scroll {overflow:hidden;}
.scrollable_content {
    height:100%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling:touch;
}
.scrollable_content::-webkit-scrollbar {display:none;}
.at-view-slide.background, .fullscreen {position:absolute;top:0;right:0;bottom:0;left:0;overflow:hidden;}
.at-view-slide.background.is-offline {padding-bottom:30px;}
h1 { font-size: 24px }
h2 { font-size: 22px }
h3 { font-size: 20px }
h4 { font-size: 18px }
h5 { font-size: 16px }
hr { height: 1px; }
p { margin: 15px 0; }
a { color: inherit; text-decoration: none; }
a:visited {color: inherit;}
p, a, span {font-size: 13px;}
button, .button {cursor: pointer;}
input, textarea, select { color: black !important; border-radius: 3px; padding:3px; }
input[type="checkbox"], input[type="radio"] {box-shadow: none;}
input.error, textarea.error, select.error { border: 2px solid darkred; }

input.large, textarea.large { width: 97%; }
input.full_width, textarea.full_width {width:98%;padding-left:1%;padding-right:1%;}
input, textarea { min-height: 25px; }
ul.form li {margin:15px 0;}
ul.form li label {width:100%;display:block;margin-left:5px;margin-bottom:2px;}
ul.form li label.inline {display:inline-block;width:auto;margin-top:5px;}
ul.form li input, ul.form li textarea {width:98%;padding-left:1%;padding-right:1%;}
ul.form li input[type="checkbox"], ul.form li input[type="radio"] {width:30px;margin-top:7px;}
ul.form li select {width:100%;height:30px;}
table { border-collapse: collapse;}
table.no-collapse { border-collapse: separate; }
table p { margin: 0 }
ul { list-style: none; }
audio {height:0;width:0}
img.border {border: 1px solid white;}

.separator {position:relative;margin:0;padding:0;border-bottom:1px solid rgba(0, 0, 0, 0.3);border-top:1px solid rgba(255, 255, 255, 0.2);}
.sprite {position:absolute;top:0;left:0;width:100%;height:100%;background:url(/app/design/mobile/angular/images/pictos/sprite-play.png) no-repeat center center transparent;background-size:cover;z-index:10;}
.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }
.bold { font-weight: bold; }
.transparent { background: transparent; }
.none { display: none; }
.left { float: left; }
.right { float: right; }
.clear { clear: both }
.underline { text-decoration: underline; }
.block { display: block; }
.a-center { text-align: center; }
.a-left { text-align: left; }
.a-right { text-align: right; }
.padding {padding:10px;}
.padding.first {padding-top:0;}
.margin {margin:10px;}
.full_width {width:100%;}
.absolute { position: absolute; }
.relative { position: relative; }
.section_title {margin:0;padding:10px 0;font-size:18px;font-weight:bold;border-bottom:1px solid;}
.clearfix {
    display: inline-block;
}

.alert {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.4);
    z-index: 1002;
    display: none;
}


.badge {
    position: absolute;
    top: -4px;
    right:0;
    margin: 0;
    padding: 2px 5px;
    color: white;
    background-color: red;
    border: 2px solid white;
    border-radius: 2ex 2ex 2ex 2ex;
    box-shadow: 0 -9px 10px rgba(0, 0, 0, 0.4) inset;
    font-size: 14px;
    line-height: 12px;
    text-align: center;
}

a.back {width: 62px; height: 31px;}
.header a.back {position: absolute;margin-top: 6px;}

.subheader {position:relative;}
/*
.subheader {position:relative;height:27px;padding:10px 5px 5px;}
.subheader, .subheader span {font-size: 20px;font-weight: bold;text-align: center;}
*/
.subheader button.more {position:absolute;top:50%;right:10px;width:auto;margin-top:-19px;box-shadow:none;border:none;background:transparent;}
.subheader button.more canvas {position:static;margin:0}
.subheader img.gift, .subheader canvas {position:absolute;top:50%;left:10px;margin-top:-15px;}


/* Loader */
/* 48x48px */
.floatingCirclesG_48{position:relative;width:48px;height:48px;margin-left:auto;margin-right:auto;-moz-transform:scale(0.6);-webkit-transform:scale(0.6);-ms-transform:scale(0.6);-o-transform:scale(0.6);transform:scale(0.6);}
.floatingCirclesG_48 .f_circleG{position:absolute;height:9px;width:9px;-moz-border-radius:4px;-moz-animation-name:f_fadeG;-moz-animation-duration:1.2s;-moz-animation-iteration-count:infinite;-moz-animation-direction:linear;-webkit-border-radius:4px;-webkit-animation-name:f_fadeG;-webkit-animation-duration:1.2s;-webkit-animation-iteration-count:infinite;-webkit-animation-direction:linear;-ms-border-radius:4px;-ms-animation-name:f_fadeG;-ms-animation-duration:1.2s;-ms-animation-iteration-count:infinite;-ms-animation-direction:linear;-o-border-radius:4px;-o-animation-name:f_fadeG;-o-animation-duration:1.2s;-o-animation-iteration-count:infinite;-o-animation-direction:linear;border-radius:4px;animation-name:f_fadeG;animation-duration:1.2s;animation-iteration-count:infinite;animation-direction:linear;}
.floatingCirclesG_48 .frotateG_01{left:0;top:20px;-moz-animation-delay:0.45s;-webkit-animation-delay:0.45s;-ms-animation-delay:0.45s;-o-animation-delay:0.45s;animation-delay:0.45s;}
.floatingCirclesG_48 .frotateG_02{left:6px;top:6px;-moz-animation-delay:0.6s;-webkit-animation-delay:0.6s;-ms-animation-delay:0.6s;-o-animation-delay:0.6s;animation-delay:0.6s;}
.floatingCirclesG_48 .frotateG_03{left:20px;top:0;-moz-animation-delay:0.75s;-webkit-animation-delay:0.75s;-ms-animation-delay:0.75s;-o-animation-delay:0.75s;animation-delay:0.75s;}
.floatingCirclesG_48 .frotateG_04{right:6px;top:6px;-moz-animation-delay:0.9s;-webkit-animation-delay:0.9s;-ms-animation-delay:0.9s;-o-animation-delay:0.9s;animation-delay:0.9s;}
.floatingCirclesG_48 .frotateG_05{right:0;top:20px;-moz-animation-delay:1.05s;-webkit-animation-delay:1.05s;-ms-animation-delay:1.05s;-o-animation-delay:1.05s;animation-delay:1.05s;}
.floatingCirclesG_48 .frotateG_06{right:6px;bottom:6px;-moz-animation-delay:1.2s;-webkit-animation-delay:1.2s;-ms-animation-delay:1.2s;-o-animation-delay:1.2s;animation-delay:1.2s;}
.floatingCirclesG_48 .frotateG_07{left:20px;bottom:0;-moz-animation-delay:1.35s;-webkit-animation-delay:1.35s;-ms-animation-delay:1.35s;-o-animation-delay:1.35s;animation-delay:1.35s;}
.floatingCirclesG_48 .frotateG_08{left:6px;bottom:6px;-moz-animation-delay:1.5s;-webkit-animation-delay:1.5s;-ms-animation-delay:1.5s;-o-animation-delay:1.5s;animation-delay:1.5s;}

.floatingCirclesG_48.background_floatingCirclesG_48 .f_circleG{-moz-animation-name:background_f_fadeG;-webkit-animation-name:background_f_fadeG;-ms-animation-name:background_f_fadeG;-o-animation-name:background_f_fadeG;animation-name:background_f_fadeG;}
.floatingCirclesG_48.subheader_floatingCirclesG_48 .f_circleG{-moz-animation-name:subheader_f_fadeG;-webkit-animation-name:subheader_f_fadeG;-ms-animation-name:subheader_f_fadeG;-o-animation-name:subheader_f_fadeG;animation-name:subheader_f_fadeG;}

/* 32x32px */
.floatingCirclesG_32{position:relative;width:32px;height:32px;margin-left:auto;margin-right:auto;-moz-transform:scale(0.6);-webkit-transform:scale(0.6);-ms-transform:scale(0.6);-o-transform:scale(0.6);transform:scale(0.6);}
.floatingCirclesG_32 .f_circleG{position:absolute;height:6px;width:6px;-moz-border-radius:3px;-moz-animation-duration:0.64s;-moz-animation-iteration-count:infinite;-moz-animation-direction:linear;-webkit-border-radius:3px;-webkit-animation-duration:0.64s;-webkit-animation-iteration-count:infinite;-webkit-animation-direction:linear;-ms-border-radius:3px;-ms-animation-duration:0.64s;-ms-animation-iteration-count:infinite;-ms-animation-direction:linear;-o-border-radius:3px;-o-animation-duration:0.64s;-o-animation-iteration-count:infinite;-o-animation-direction:linear;border-radius:3px;animation-name:f_fadeG;animation-duration:0.64s;animation-iteration-count:infinite;animation-direction:linear;}
.floatingCirclesG_32 .frotateG_01{left:0;top:13px;-moz-animation-delay:0.24s;-webkit-animation-delay:0.24s;-ms-animation-delay:0.24s;-o-animation-delay:0.24s;animation-delay:0.24s;}
.floatingCirclesG_32 .frotateG_02{left:4px;top:4px;-moz-animation-delay:0.32s;-webkit-animation-delay:0.32s;-ms-animation-delay:0.32s;-o-animation-delay:0.32s;animation-delay:0.32s;}
.floatingCirclesG_32 .frotateG_03{left:13px;top:0;-moz-animation-delay:0.4s;-webkit-animation-delay:0.4s;-ms-animation-delay:0.4s;-o-animation-delay:0.4s;animation-delay:0.4s;}
.floatingCirclesG_32 .frotateG_04{right:4px;top:4px;-moz-animation-delay:0.48s;-webkit-animation-delay:0.48s;-ms-animation-delay:0.48s;-o-animation-delay:0.48s;animation-delay:0.48s;}
.floatingCirclesG_32 .frotateG_05{right:0;top:13px;-moz-animation-delay:0.56s;-webkit-animation-delay:0.56s;-ms-animation-delay:0.56s;-o-animation-delay:0.56s;animation-delay:0.56s;}
.floatingCirclesG_32 .frotateG_06{right:4px;bottom:4px;-moz-animation-delay:0.64s;-webkit-animation-delay:0.64s;-ms-animation-delay:0.64s;-o-animation-delay:0.64s;animation-delay:0.64s;}
.floatingCirclesG_32 .frotateG_07{left:13px;bottom:0;-moz-animation-delay:0.72s;-webkit-animation-delay:0.72s;-ms-animation-delay:0.72s;-o-animation-delay:0.72s;animation-delay:0.72s;}
.floatingCirclesG_32 .frotateG_08{left:4px;bottom:4px;-moz-animation-delay:0.8s;-webkit-animation-delay:0.8s;-ms-animation-delay:0.8s;-o-animation-delay:0.8s;animation-delay:0.8s;}

.floatingCirclesG_32.background_floatingCirclesG_32 .f_circleG{-moz-animation-name:background_f_fadeG;-webkit-animation-name:background_f_fadeG;-ms-animation-name:background_f_fadeG;-o-animation-name:background_f_fadeG;animation-name:background_f_fadeG;}
.floatingCirclesG_32.subheader_floatingCirclesG_32 .f_circleG{-moz-animation-name:subheader_f_fadeG;-webkit-animation-name:subheader_f_fadeG;-ms-animation-name:subheader_f_fadeG;-o-animation-name:subheader_f_fadeG;animation-name:subheader_f_fadeG;}
.floatingCirclesG_32.news_floatingCirclesG_32 .f_circleG{-moz-animation-name:news_f_fadeG;-webkit-animation-name:news_f_fadeG;-ms-animation-name:news_f_fadeG;-o-animation-name:news_f_fadeG;animation-name:news_f_fadeG;}




#loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    filter:alpha(opacity:50);
    display: none;
    z-index: 9999;
}

#loader img {position:absolute; left: 50%; top: 50%; margin-left: -12px; margin-top: -12px;}
#mask {position:absolute;top:0;left:0;width:100%;height:100%;z-index:1000;display:none;}
.fb_button_text { font-size: 16px; }

label.error { display: block; margin-top: 5px; color: #C00939; text-shadow: 1px 1px black; clear: both; }

/** /GENERAL **/



/** BLOCK **/
.connect {width: 100%;border-bottom: 1px solid rgba(255, 255, 255, 0.4);}
button.more {background: none;}
button, a.button, a.connect_button {display: block;height: 39px;margin: 10px auto;font-size: 14px;text-align: center;box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 rgba(0, 0, 0, 0.4) ;border: 1px solid rgba(255, 255, 255);border-radius: 5px;}
button.first, a.button.first, a.connect_button.first {margin-top:0;}

button {width: 100%;}
button.disabled { opacity: 0.5; }

button.icon_left, a.button.icon_left {position:relative;padding-left: 40px;padding-right: 40px;}
button.icon_left img, a.button.icon_left img, button.icon_left canvas {position:absolute;top:50%;left:10px;margin-top:-10px;border-radius:2px;}
button.arrow_right, button.arrow_right, a.arrow_right, .arrow_right {padding-right: 40px;background-image:url(/app/design/mobile/angular/images/pictos/right_arrow.png);background-repeat:no-repeat;background-position:98% center;background-size:14px 20px;}
button.half, a.button.half {display: inline-block;width: 49%;}

button.connect_button {height: 32px;}
button:active, a.button:active { border-top-color: black; box-shadow: 0 0 6px black inset;  }

button.close {position: absolute;right: 7px;top: 7px;width: 25px;height: 25px;display: block;background: none;border: 2px solid white;padding-bottom: 1px;border-radius: 2ex;color: white;z-index: 1;}
button.back {background:transparent;}

a.button, a.connect_button {width: auto;}
a.button, a.connect_button { line-height:39px; }
a.connect_button {height:22px; padding-top:10px;}


.segmented_control {margin-bottom:10px;}
.segmented_control .element {display: inline-block;width: 30px;height: 30px;margin: 2px;border: 1px solid;border-radius: 4ex;}
.segmented_control .element.reverse {border: none;}
.segmented_control.ios {margin:0;}
.segmented_control.ios .element {float:left;width:40px;margin:0;padding:0 5px;box-shadow:none;border:1px solid;border-radius:0;}
.segmented_control.ios .element.first {border-radius:8px 0 0 8px;}
.segmented_control.ios .element.last {border-radius:0 8px 8px 0;}
.segmented_control.ios .element.reverse {border: none;}
/** /BLOCK **/

/** BACKGROUND IMAGE **/
#homepage_logo_link {position: absolute;}

/** TABBAR **/

/* Image Gallery */
.gallery.fullscreen {position: fixed;top:0;right:0;bottom:0;left:0;width:100%;background:none repeat scroll 0 0 black;z-index:150;overflow:hidden;}
.gallery.fullscreen ul li div {width:100%;background-repeat:no-repeat;background-size:100%;background-position:center;}
.gallery.fullscreen ul li div.title,
.gallery.fullscreen ul li div.description {position:absolute;width:100%;padding:3px 0;margin:0;background:rgba(255, 255, 255, 0.6);text-align:center;overflow:hidden;}
.gallery.fullscreen ul li div.title {top:0;height:23px;}
.gallery.fullscreen ul li div.description {bottom:0;min-height:23px;max-height:46px;line-height:23px;}

.gallery.fullscreen ul li div.title p,
.gallery.fullscreen ul li div.description p {margin:0;padding:0px;font-size:13px;line-height:23px;}

/*.gallery.fullscreen ul li div.title p {}*/
/*.gallery.fullscreen ul li div.description p {padding:5px;font-size:13px;}*/

.page_header {
    position:relative;
    /*position:fixed;*/
    width: 100%;
    /*left: 0;*/
    /*top: 0;*/
    height: 42px;
    /*z-index: 100;*/
}
.iOS7 .page_header {height: 63px;}

.page_header .header.absolute {position:absolute;width:100%;height:42px;}
.iOS7 .page_header .header.absolute {padding-top:21px;}

/*.has_header {margin-top: 42px;}*/
/*.iOS7 .has_header {margin-top: 63px;}*/

.page_header p.title {position:absolute;left:75px;right:75px;height:42px;overflow:hidden;margin:0;line-height:43px;font-size:16px;font-weight:bold;text-align:center;z-index:10;}
.page_header .btn_left, .page_header .btn_right {position:relative;width:auto;height:42px;margin:0px;border:none;box-shadow:none;z-index:20;}
.page_header .btn_left {left:0;float:left;padding-left:25px;}
.page_header .btn_right {right:0;float:right;padding-right:6px;}
.page_header .btn_right.arrow {padding-right:25px;}

.page_header .back_arrow, .page_header .next_arrow {
    position: absolute;
    top: 0;
    width: 21px;
    height: 42px;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 12px 20px;
    z-index: 20;
}
.page_header .back_arrow { left: 0; }
.page_header .next_arrow { right: 0; transform: rotate(180deg); -webkit-transform: rotate(180deg); }
.page_header .btn_left span, .page_header .btn_right span {height:42px;font-size:16px;}
.page_header .message {position:absolute;width:100%;height:100%;z-index:10;}
.page_header .message p {min-height:30px;margin:0;padding:6px;text-align:center;font-size:14px;line-height:14px;}
.page_header .message p.error {color:white;background-color:darkred;}
.iOS7 .page_header .message p {min-height:36px;padding-top:21px;}
.background_image {height:100%;background-repeat:no-repeat;background-position:center center;background-size:cover;}
.background_image_is_loading {height:100%;background-repeat:no-repeat;background-position:center center;background-image:url("/app/design/mobile/angular/images/loader/ajax.gif");background-size:24px;background-color:black;}
/*.padding { padding: 0 10px; }*/
.logo {width:37px;height:37px;overflow:hidden;border: 3px solid rgba(255,255,255, 0.6);border-radius:7px;margin-right:10px;}
.logo.large {width:100px;height:100px;}
.image_loader {position:relative;height:100%;width:100%;background:black; background-repeat:no-repeat;background-position:center center;background-image:url("/app/design/mobile/angular/images/loader/ajax.gif");background-size:24px;}
.image_loader .loader, .list.l1 ul li .image_loader .loader {position:absolute;top:50%;margin-top:-45px;}
.toggle .loader {position:absolute;}
.loader {padding:10px 0;height:50px;width:100%;background-color:transparent;}
.loader.small {height:32px;width:100%;padding:10px 0;background-size:30px 30px;}
.subheader .loader {position:absolute;top:50%;margin:-8px 0 0;padding:0;}
.global_loader {position: absolute;left: 0;top: 0;bottom: 0;right: 0;opacity: 0.5;z-index: 100;}
.global_loader .loader {position:absolute;top:50%;margin-top:-25px;}
.no_connection {position:fixed;width:100%;bottom:0;height:30px;line-height:30px;text-align:center;background-color:darkred;z-index:100;}

/* List */

/* L1 */
.list.l1 ul li {padding:10px 0;}
.list.l1 ul li .loader {position:static;}
.list.l1 ul li p.text {height:40px;text-align:left;margin-right:0;margin-bottom:0px;margin-top:0;font-size:15px;line-height:20px;overflow:hidden;}

.list.l1 ul li.cover {height:100px;padding:0;margin:0;background-repeat:no-repeat;background-position:center;background-size:cover;}
.list.l1 ul li .image {margin-top:10px;background-repeat:no-repeat;background-position:0 0;background-size:19px 19px;}
.list.l1 ul li .image div.container {width:183px;height:94px;margin-left:30px;border:4px solid white;border-width:4px 7px 4px 11px;overflow:hidden;}
.list.l1 ul li .image div.container span.bg_image {width:100%;height:100%;background-repeat:no-repeat;background-position:center center;background-size:cover;}

.list.l1 ul li div.details {background:rgba(255,255,255,0.3);border:solid 1px rgba(153, 153, 153, 1);padding:5px;margin-left:53px;margin-top:10px;border-radius:4px;}
.list.l1 ul li div.details span {font-size:11px;line-height:10px;margin-left:15px;}
.list.l1 ul li div.details span img {vertical-align:bottom;}
.list.l1 ul li div.details span.area1 {margin-left:0px;}


/* L2 */
.list.l2 ul li {position:relative;margin-top:10px;background-color:rgba(255,255,255,0.3);border-radius:5px;}
.list.l2 ul li.first {margin-top:0;}

.list.l2 ul li .image {border-radius:3px 3px 0 0;float:left;height:90px;width:80px;}

.list.l2 ul li .details {float:left;margin-left:10px;}
.list.l2 ul li .details .title {position:absolute;top:10px;padding-right:10px;font-size:15px;font-weight:bold;text-transform:uppercase;}
.list.l2 ul li .details .subtitle {position:absolute;bottom:10px;padding-right:10px;}
.list.l2 ul li .details .subtitle span {font-size:14px;text-transform:lowercase;}

/* L3 */
.list.l3 ul li a {position:relative;display:block;cursor:pointer;height:65px;background-position:right 10px center;background-size:14px 20px;background-repeat:no-repeat;border-bottom:1px solid;overflow:hidden;}
.list.l3 ul li a .picture {height:100%;width:100px;background-position:center center;background-size:cover;background-repeat:no-repeat;}
.list.l3 ul li a .details {position:absolute;height:45px;left:10px;right:35px;margin-top:10px;margin-bottom:10px;padding:0;overflow:hidden;}
.list.l3 ul li a .details.has_picture {left:110px;}
.list.l3 ul li a .details .title {height:16px;font-size:15px;font-weight:bold;overflow:hidden;}
.list.l3 ul li a .details .subtitle {height:30px;vertical-align: bottom; display:table-cell;margin:3px 0;font-size:13px;line-height:15px;text-align:justify;overflow:hidden;}


/* Cover */
.cover.l1 a {position:relative;display:block;}
.cover.l1 a .image {width:100%;height:200px;padding:0;background-position:center center;background-size:cover;background-repeat:no-repeat;}
.cover.l1 a h3 {position: absolute;bottom: 0;display: block;width: 100%;padding: 0;font-size: 16px;overflow: hidden;}
.cover.l1.has-picture a h3 {color: #000000;background: rgba(255, 255, 255, 0.85);}
.cover.l1 a h3 span.title {padding: 7px;font-size: 15px;font-weight: bold;line-height: 20px;text-transform: uppercase;overflow: hidden;}
.cover.l1 a h3 span.subtitle {display:block;height:21px;margin-top:10px;padding:7px;font-size:11px;font-weight:normal;line-height:13px;overflow:hidden;}
.cover.l1 a .description {display: none;font-size: 12px;font-weight: normal;height: 50px;line-height: 1.1em;margin-top: 10px;overflow: hidden;}


/* Sidebars */
/* L1 */
.sidebar.l1 .sidebar {position:fixed;width:200px;height:100%;padding:5px;z-index:100;box-shadow:-2px -2px 6px rgba(0, 0, 0, 0.5);}
.sidebar.l1 .btn_open {position:relative;width:auto;height:20px;margin:0;padding:0 20px 0 7px;box-shadow:none;border:none;}
.sidebar.l1 .btn_open img {position:absolute;top:2px;right:6px;}
.sidebar.l1 .content {height:27px;padding:10px 5px 0px;}
.sidebar.l1 .content h3.title {font-size:16px;font-weight:normal;text-align:center;}
/*.sidebar.l1 .content h3.title.center {text-align:center;}*/
.sidebar.l1 .sidebar.right {float:none;right:0;box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.5);}
.sidebar.l1 .sidebar li {text-align:left;}
.sidebar.l1 .sidebar li a.item {cursor:pointer;font-size:0.85em;padding:10px;border-bottom:1px solid;display:block;height:auto;margin:0;text-align:left;}


/* Video */
.video {position:relative;}
.video .cover {width:100%;height:200px;padding:0;background-position:center center;background-size:cover;background-repeat:no-repeat;}
.video img.icon {margin: 10px 5px;}
.video div.title {position:absolute;bottom:0;left:0;width:100%;height:40px;opacity:0.8;z-index:20;}
.video div.title p.title_video {height:40px;vertical-align: middle; display:table-cell;margin:3px 0;font-size:15px;font-weight:bold;line-height:17px;}


/* Newswall / Rss */
.newswall .content li, .rss_feed .content li, .facebook .content li {margin-top:1px;}
.newswall .content div.metas,
.rss_feed .content div.metas,
.facebook .content div.metas {background:rgba(255,255,255,0.3);border:solid 1px rgba(153, 153, 153, 1);padding:5px;margin-left:53px;margin-top:10px;border-radius:4px;}
.newswall .content div.metas span.comments_date,
.rss_feed .content div.metas span.comments_date,
.facebook .content div.metas span.comments_date {margin-left:0px;}
.newswall .content .description {padding-top:15px;padding-bottom:5px;}
.newswall .content div.metas span,
.rss_feed .content div.metas span,
.facebook .content div.metas span {margin-left:15px;font-size:11px;line-height:10px;}
.newswall .content .details .image, .rss_feed .content .details .image {border:3px solid #fff;border-radius:4px;}
.newswall .content p.text, .rss_feed .content p.text {margin:20px 0 0;text-align:justify;}
.newswall .content .title p.text, .rss_feed .content .title p.text {margin:0;}
.newswall .content .title p.text span.name, .rss_feed .content .title p.text span.name {font-size:17px;}
.newswall .content div.add_comment {margin-top:10px;}
.newswall .content li.answer span.customer_name {margin-right:5px;}
.newswall .content .comments p.text, .facebook .content .comments p.text {margin:0;}
.newswall .content .comments p.comment, .facebook .content .comments p.comment {display:table-cell;height:30px;overflow:hidden;text-align:justify;vertical-align:bottom;font-size:12px;}
.newswall .content .comment_content button.button {margin:10px 0;}
.rss_feed .content .feed_content {margin:15px 0;}
.rss_feed .content .feed_content img {max-width:100%}

/* Fanwall */
.newswall .top_buttons .half_width { width: 50%; text-align: center; padding: 4px 0; }
.newswall .top_buttons span { font-size: 1.2em; padding-left: 8px; vertical-align: middle; font-weight: 700; }
.newswall .top_buttons img { vertical-align: middle; }
.newswall .top_buttons .left { float: left; border-right: 1px solid #ccc; margin-left:-1px; }
.newswall .top_buttons .right { float: right; }

.newswall .no_results { width:100%; text-align: center; font-size: 1.2em; margin-top:24px; }

.newswall .middle_buttons { width: 70%; margin: 16px auto; }
.newswall .middle_buttons .button { width: 30%; text-align: center; padding:7px 5%; margin: -2px; border:1px solid; }
.newswall .middle_buttons .left { margin-left:10%; border-top-left-radius: 3px; border-bottom-left-radius: 3px; }
.newswall .middle_buttons .right { margin-right:10%; border-top-right-radius: 3px; border-bottom-right-radius: 3px; }

.create_comment { width: 90%; margin: 12px auto; }
.create_comment textarea { width: 100%; font-size: 1em; }

.create_comment .file-upload input.upload {position:absolute;top:0;right:0;margin:0;padding:0;font-size:32px;cursor:pointer;opacity:0;filter:alpha(opacity=0);}

/* Contact */
.contact .contact_name {
    min-width: 140px;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}
.contact .contact_name p.name {
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

/* Promotion */
.promotions .connect button {margin-top:0;}
.promotions .content {margin-top:10px;border-radius:5px;}
.promotions .content ul li {min-height:220px;}
.promotions .promotion {position:relative;top:0;bottom:0;left:0;right:0;padding-left:40px;padding-right:40px;text-align:center;border-radius:5px;}
.promotions .promotion p {margin-top:20px;font-weight:normal;font-size:15px;}
.promotions .promotion .title h4, .promotions .promotion .use_discount a {margin:0 5px 5px 10px;font-family:Lobster;font-size:30px;text-align:center;}
.promotions .rn-carousel-indicator {background: none;}

/* Event */
.list.l2 ul li .image .month {height:26px;padding-top:4px;text-align:center;}
.list.l2 ul li .image .month span {font-size:16px;font-weight:bold;}
.list.l2 ul li .image .day {height:46px;margin-left:3px;margin-top:1px;padding-top:10px;text-align:center;width:74px;}
.list.l2 ul li .image .day span {font-size:30px;font-weight:bold;}

.event .list.l2 .padding.first {padding-top:10px;}

.event_picture{position: relative;}
.event_picture img{/*padding: 0 5%;*/}
.time {padding: 10px 0;font-size: 12px;}
.time.has_picture {padding: 10px; position: absolute;bottom: 3px;background-color:rgba(255, 255, 255, 0.85);color: #404040;}
.buttons .link {width: auto;margin: 10px 0;}
.event_view .event_name { margin-bottom:10px; }
.event_view .description {margin:10px 0;}
.event_view .description span {line-height:17px;}
.event_view .event_name .name { font-size:15px; text-transform:uppercase; }
.event_view .buttons {margin-top:20px;}

/* Loyalty Card */
.loyalty .content {width:100%;}
.loyalty .content h3.short_advantage {margin:auto;line-height:35px;font-weight:400;}
.loyalty .content .subheader {height:auto;min-height:35px;padding:5px 0;}
.loyalty .content .subheader .card_details {position:relative;height:35px;margin:0;text-align:center;}
.loyalty .content .subheader.advantage_details {min-height:35px;padding:5px 10px;text-align:left;}
.loyalty .content .subheader.advantage_details p {margin: 0;font-size:13px;line-height:17px;}
.loyalty .content .subheader.advantage_details span {font-size: 13px;font-weight:normal;}
.loyalty .content .promotions {margin-top: 15px;}
/*.loyalty .content .discount .padding {padding-bottom:0;}*/
/*.loyalty .content .discount .use_discount {position:static;margin-bottom:10px;}*/
.loyalty .content .points {margin-top:10px;}
.loyalty .content .points .point {width: 85px;height: 84px;display: inline-block;padding: 5px 0;margin:0 5px;}
.loyalty .content .conditions div.advantage {position: relative;width: 100%;margin: 0;}
.loyalty .center {position:relative;width:290px;margin:auto;}

.loyalty .card_is_locked p {min-height:30px;margin:0;padding:6px;text-align:center;font-size:14px;line-height:26px;color:white;background-color:darkred;}
.loyalty .pad {width:290px;text-align:center;padding-top:15px;}

.loyalty .pad .dots {width:105px;margin:10px auto;}
.loyalty .pad .dots .dot {width:10px;height:10px;display:inline-block;margin:7px;border:1px solid;border-radius:2ex;}
.loyalty .pad .dots .dot.reverse {width:12px;height:12px;border:none;}
.loyalty .pad .delete {margin-right:30px;font-size:17px;cursor:pointer;}
.loyalty .pad .pad_buttons .title {margin-top:0;font-size:20px;}
.loyalty .pad .pad_buttons .pad_button {display:inline-block;width:75px;height:74px;margin:5px;padding:5px 0;border:1px solid;border-radius:6ex;font-size:25px;box-shadow:none;}

/** SOCIALGAMING **/
.socialgaming li.header {padding-top:13px;height:29px;text-align:center;}
.socialgaming li.team_leader, .socialgaming li.challenger {padding:10px 5px;}
.socialgaming li.challenger.overlay_20 {background:url('/app/design/mobile/angular/images/overlays/black_35.png') repeat;}
.socialgaming li.team_leader p.number_of_points {margin:0;width:85px;height:45px;line-height:45px;}
.socialgaming li.team_leader p.number_of_points img {margin-top:10px;float:right;}
.socialgaming li p.challenger_name {margin-top:13px;}
/** /SOCIALGAMING **/

/* Image Gallery */
.image_gallery li {display:inline-block;width:20%;height:75px;margin:0;}
.image_gallery .image {background-color:black;}

.image_gallery4 li {display:inline-block; width:25%; height:90px; margin:0; box-sizing: border-box; border: 1px solid black;}

/* Video Gallery */
.video_gallery li.load_more {padding-top:20px;}

/* Facebook */
.facebook .info {position:absolute;top:-55px;left:25px;width:100%;}
.facebook .info .logo {height:100px;width:100px;}
.facebook .info .logo img {border-radius:4px;}
.facebook .info .comment_metas {position:absolute;right:45px;bottom:4px;min-width:55px;margin-left:0;margin-top:0;padding:5px;border:solid 1px rgba(153, 153, 153, 1);border-radius:4px;background:rgba(255,255,255,0.3);}
.facebook .info .comment_metas span {margin:0 0 0 10px;}
.facebook .info .comment_metas span.count {margin-top:2px;margin-left:5px;padding:2px;line-height:11px;}
.facebook div.padding {padding-bottom:0;}
.facebook div.padding li.relative {padding-bottom:0;}
.facebook .about {margin-top:60px;margin-bottom:0;margin-left:0;width:auto;}

/* Set Meal / Catalog */
.set_meal .content .name, .set_meal .content .price {display:inline-block;margin:0;padding:0;}
.set_meal .content .name {width:79%;font-size:17px;text-align:left;}
.set_meal .content .price {width:19%;float:right;font-size:16px;text-align:right;}
.set_meal .content .conditions {margin-bottom:0;}

/* Catalog */
.catalog .list.l3 ul li .picture {width:80px;}
.catalog .list.l3 ul li .details.has_picture {left:90px;}
.catalog-product-view .content .details {margin-left:10px;}
.catalog-product-view .content .details .name {margin:0;font-size:20px;}
.catalog-product-view .formats {padding:0 10px;}
.catalog-product-view .formats .format {padding:0 10px;border-bottom:1px solid;}

/* Folder */
.folder .list.l3 ul li .picture {background-size:auto 100%;}

/* Push */
.push .list.l1 ul li p.text {height:auto;min-height:40px;}

/* CMS */
/*.cms .cms_block.image div.rn-carousel-container {margin:auto;}*/
.cms .cms_block.image div.carousel ul li div {height:200px;width:100%;background-repeat:no-repeat;background-size:cover;background-position:center;}

.cms .cms_block.text img.left {margin-right:10px;}
.cms .cms_block.text img.right {margin-left:10px;}
.cms .cms_block.text div.content {text-align:justify;}
.cms .cms_block.text div.content p {margin:0;}

.cms .cms_block button.button.icon_left img { border: none; }

.cms .cms_block.address.can_add_to_address_book button.locate {float:right;display:inline-block;width:80%;width:calc(100% - 55px);width:-webkit-calc(100% - 55px)}
.cms .cms_block.address.can_add_to_address_book button.add_to_address_book {display:inline-block;width:45px;}
.cms .cms_block.address.can_add_to_address_book button.add_to_address_book img {margin-top:4px;}
.cms .cms_block.button a {margin-top:0;margin-bottom:0;}


/* Form */
.form form .section {margin-bottom:30px;}
.form form .section p.label {font-size:16px;}

/* Maps */
.map-canvas, .map-canvas * {max-width: none;}
.map-canvas {display:block;height:100%;width:100%;}

/* Place */
.place .list.l3 ul li {height:85px;}
/*.place .list.l3 ul li .picture {height:100%;width:100px;background-position:center center;background-size:cover;background-repeat:no-repeat;}*/
.place .list.l3 ul li .details {height:75px;margin-top:10px;margin-bottom:0px;}
.place .list.l3 ul li .details.has_label {height:75px;margin-top:5px;}
/*.place .list.l3 ul li .details.has_picture {left:110px;}*/
.place .list.l3 ul li .details .title {height:14px;font-size:13px;}
.place .list.l3 ul li .details .address {height:27px;margin:10px 0;overflow:hidden;}
.place .list.l3 ul li .details.has_label .address {margin:3px 0;}
.place .list.l3 ul li .details .address span,
.place .list.l3 ul li .details .distance span {font-size:12px;line-height:13px;}

.place .list.l3 .filters.subheader {
    position:relative;
    height:35px;
    padding:5px;
}

.place .list.l3 .filters .listing,
.place .list.l3 .filters .filter {
    position:absolute;
    left:0;
    right:0;
}

.place .list.l3 .filters .listing {
    text-align:center;
    padding:5px;
}
.place .list.l3 .filters .filter {
    display:inline-block;
    top:0;
    left:35px;
    height:33px;
    padding:7px 0 6px 0;
}
.place .list.l3 .filters .filter.back {
    left:0px;
    height:45px;
    padding:0;
}
.place .list.l3 .filters .filter.back button {
    position: relative;
    width: auto;
    height: 45px;
    margin: 0px;
    border: none;
    box-shadow: none;
    z-index: 20;
}
.place .list.l3 .filters .filter.back button div {
    width: 29px;
    height: 45px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px 20px;
}
.place .list.l3 .filters .listing ul li {
    display:inline-block;
    height:auto;
    padding:5px 5px 5px 17px;
    border:none;
    background-repeat: no-repeat;
    background-size: 15px auto;
    background-position: left center;
}

.place .list.l3 .filters .listing ul li.border {border-bottom:1px solid;}
.place .list.l3 .filters .listing ul li.place_status {background-size:18px auto;}
.place .list.l3 .filters .listing ul li.place_label {background-size:17px auto;}
.place .list.l3 .filters .listing ul li.geolocation {background-size:12px auto;}

.place .list.l3 .filters .search input {width:78%;}
.place .list.l3 .filters .search button {width:16%;height:32px;margin:0 2% 0 0;box-shadow:none;}

.place .list.l3 .filters .geolocation {left:35px;height:30px;padding:8px 0;}
.place .list.l3 .filters .geolocation label {height:30px;line-height:30px;}
.place .list.l3 .filters .geolocation .segmented_control {margin-right:10px;}

.place .list.l3 .filters .label {margin-top:1px;}
.place .list.l3 .filters .label .segmented_control {position:absolute;left:0;right:10px;}
.place .list.l3 .filters .label .segmented_control .element {width:25%;border-left:none;border-right:none;}
.place .list.l3 .filters .label .segmented_control .element.first {border-left:1px solid;}
.place .list.l3 .filters .label .segmented_control .element.last {border-right:1px solid;}

.place .list.l3 .filters .status .segmented_control .element {width:33%;border-left:none;border-right:none;line-height:12px;}
.place .list.l3 .filters .status .segmented_control .element.first {border-left:1px solid;}
.place .list.l3 .filters .status .segmented_control .element.last {border-right:1px solid;}

/* specific to mcommerce-product view */
.mcommerce-product .product_view .area {
    margin-top: 10px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.mcommerce-product .product_view .picture img {
    border-radius: 7px;
    width: 100%;
}

.mcommerce-product .product_view p.product_price span.price, .mcommerce-product .product_view p.product_price span.price_from {
    vertical-align:middle;
    font-size: 20px;
}

.mcommerce-product .product_view .add_to_cart {
    margin: 10px 0;
}
.mcommerce-product .product_view .add_to_cart button {
    width:auto;
    height:45px;
    padding:0 15px;
    font-size:18px;
}
.mcommerce-product .description {
    cursor: pointer;
}
.mcommerce-product .description .truncated{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mcommerce-product .product-options .row{
    width: 100%;
    margin: 0;
    padding: 0;
}
.mcommerce-product .product-options .row .col{
    padding: 5px 0px;
    display: inline-block;
    margin: 0;
    float: left;
}
.mcommerce-product .product-options .row .col.select-option-val{
    width: 70%;
}
.mcommerce-product .product-options .row .col.select-option-qty{
    width: 30%;
}

.mcommerce-product .product-options select {
    height: 30px;
    width: 90%;
}

.mcommerce-product .product-options select option.label{
    font-weight: bold;
    font-style: italic;
}

/* specific to mcommerce-cart & mcommerce-sales-confirmation view */

.mcommerce-cart h2, .mcommerce-sales-confirmation h2 {
    font-size: 17px;
    margin: 0 0 10px 0
}

.mcommerce-cart .cart_lines .cart_line {
    width: 100%;
    position: relative;
}

.mcommerce-cart .cart_line .picture, .mcommerce-sales-confirmation .picture{
    display: inline-block;
    width: 70px;
    margin: 0 10px 0 0;
    padding: 0;
    border: 0;
}

.mcommerce-cart .cart_line .details, .mcommerce-sales-confirmation .details {
    display: inline-block;
    width: calc(100% - 90px);
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: top;
    overflow: hidden;
}

.mcommerce-cart .cart_line .details .remove_line, .mcommerce-sales-confirmation .details .remove_line {
    position:absolute;
    right:10px;
}

.mcommerce-cart .details .product-prices, .mcommerce-cart .details .product-options,
.mcommerce-sales-confirmation .details .product-prices, .mcommerce-sales-confirmation .details .product-prices {
    position:absolute;left:90px;right:45px;
}
.mcommerce-sales-confirmation .details .product-prices, .mcommerce-sales-confirmation .details .product-prices {
    right:10px;
}

.mcommerce-cart .picture .product-picture, .mcommerce-sales-confirmation .picture .product-picture {
    width: 70px;
    height: 70px;
    margin: 10px 10px 0 0;
}

.mcommerce-cart .details .product-name, .mcommerce-sales-confirmation .details .product-name {
    font-weight: bold;
    margin: 5px 0;
}

.mcommerce-cart .details .product-details, .mcommerce-sales-confirmation .details .product-details {
    margin: 5px 0;
}
.mcommerce-cart .remove, .mcommerce-sales-confirmation .remove,
.mcommerce-cart .more, .mcommerce-sales-confirmation .more{
    display: inline-block;
    width: 25px;
    height: 30px;
}
.mcommerce-cart img.picto, .mcommerce-sales-confirmation img.picto{
    width: 100%;
}
.mcommerce-cart .title, .mcommerce-sales-confirmation .title{
    margin: 10px 0;
}
.mcommerce-cart a, .mcommerce-sales-confirmation a{
    cursor: pointer;
}

.mcommerce-cart .product-options p, .mcommerce-sales-confirmation .product-options p{
    margin: 2px 0;
}

/* specific to mcommerce-sales-customer view */

.mcommerce-sales-customer .label{
    text-align: left;
}


/* specific to mcommerce-sales-delivery view */
.mcommerce-sales-delivery .choose-store-label{
    display: block;
    margin-bottom: 10px;
}

.mcommerce-sales-delivery .delivery-method-option{
    padding:5px;
    cursor: pointer;
}
 .mcommerce-sales-delivery .delivery-method-option input{
    min-height: 0;
    cursor: pointer;
}   
 .mcommerce-sales-delivery .delivery-method-option label{
    cursor: pointer;
}   

.mcommerce-sales-delivery .delivery-method-option input[type="radio"] {
    width: 30px;
}

/* specific to mcommerce-sales-payment view */

.mcommerce-sales-payment .payment-method-option {
    padding: 5px;
    cursor: pointer;
}

.mcommerce-sales-payment .payment-method-option input {
    min-height: 0;
    cursor: pointer;
}

.mcommerce-sales-payment .payment-method-option label {
    cursor: pointer;
}

.mcommerce-sales-payment .payment-method-option input[type="radio"] {
    width: 30px;
}

/* Padlock */
.padlock .content {position:absolute;top:50%;left:4%;right:4%;margin-top:-75px;}
/* /Padlock */

.sourcecode .iframe-wrapper{
   width: 100%;
   height: 100%;
   height: calc(100% - 42px);
}
.sourcecode .iframe-wrapper iframe{
   width: 100%;
   height: 100%;
}
/* Audio */
.media-gallery-music-common .media-music-tabs ul {
    padding: 0;
    margin: 5px;
    list-style-type: none;
}
.media-gallery-music-common .media-music-tabs li {
    margin-left: 2px;
    display: inline-block;
    width: 32%;
}
.media-gallery-music-common .media-music-tabs ul li a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 6px 14px;
    background: transparent;
    color: white;
}
.media-gallery-music-common .media-music-tabs ul li a.active {
    background: white;
    color: black;
    border-radius: 3px;
}
.media-gallery-music-common .read-all-button {
    clear: both;
    display: block;
    width: 100%;
    padding: 15px 0;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid #ddd;
    color: #666;
    font-weight: bold;
    text-align: center;
}
.media-gallery-music-common .boxes-area {
    text-align: center;
    vertical-align: top;
}
.media-gallery-music-common .media-box {
    display: inline-block;
    max-width: 138px;
    background: #ccc;
    margin: 10px;
    cursor: pointer;
    vertical-align: top;
}
.media-gallery-music-common .media-box li.small-cover {
    display: inline-block;
    width: 67px;
    height: 67px;
    margin: 1px;
    margin-bottom: 0px;
    vertical-align: top;
}
.media-gallery-music-common .media-box li.cover {
    display: inline-block;
    width: 138px;
    height: 138px;
    margin-bottom: 0px;
    vertical-align: top;
}
.media-gallery-music-common .media-box li.cover img {
    width: 100%;
    height: 100%;
}
.media-gallery-music-common .media-box .description-area {
    background: white;
    padding: 5px;
}
.media-gallery-music-common .media-box .description-area .playlist-name {
    color: black;
    font-size: 12px;
    font-weight: bold;
    margin: 5px 0 0 0;
}
.media-gallery-music-common .media-box .description-area .metrics {
    color: black;
    padding-top: 3px;
}
.media-gallery-music-common .media-box .description-area .metrics,
.media-gallery-music-common .media-box .description-area .metrics * {
    font-size: 10px;
    margin: 5px 0;
}

.media-gallery-music-common .media-music-tabs a:not(.active){
    cursor: pointer;
}
.media-gallery-music-common .read-all-button{
    cursor: pointer;
}

.media-gallery-music-album .cover-area {
    float: left;
}
.media-gallery-music-album .description-area {
    width: calc(100% - 130px);
    float: left;
    margin-left: 20px;
}
.media-gallery-music-album .presentation {
    position: relative;
    height: 75px;
    margin-bottom: 30px;
    padding: 10px 10px 0;
    border: 1px solid white;
    border-width: 0 0 1px 0;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.4);
}
.media-gallery-music-album .presentation .cover {
    border: 3px solid #ffffff;
    box-shadow: 1px 1px 4px #000000;
    width: 100px;
    height: 100px;
}
.media-gallery-music-album .playlist-name {
    height:13px;
    font-weight:bold;
    line-height:100%;
    padding:3px 0;
    overflow:hidden;
}
.media-gallery-music-album .artist-name,
.media-gallery-music-album .metrics,
.media-gallery-music-album .metrics * {
    padding: 2px 0;
    font-size: 12px;
}

.media-gallery-music-album .presentation .read-all-button {
    padding: 10px 0;
    margin: 0px;
    font-weight: bold;
    display: inline-block;
    background: transparent;
    border: 0;
    color: white;
    text-align: left;
    clear: none;
    position: absolute;
    bottom: -35px;
}
.media-gallery-music-common .tracks-list {
    margin-top: 10px;
}
.media-gallery-music-common .tracks-list .track-details {
    cursor: pointer;
}
.media-gallery-music-common .tracks-list .track-details > td {
    padding-bottom: 15px;
}

.media-gallery-music-common .tracks-list .track-details .track-description .track-name {
    font-weight: bold;
    padding-bottom: 5px;
}
.media-gallery-music-common .tracks-list .track-details .track-number {
    width: 30px;
    text-align: right;
    padding-top: 2px;
    padding-right: 10px;
    font-size: 11px;
    vertical-align: top;
}
.media-gallery-music-common .tracks-list .track-details .track-duration {
    width: 50px;
    text-align: right;
    padding-right: 25px;
    vertical-align: top;
}
.media-gallery-music-player {
    padding: 13px;
}


.media-gallery-music-player,
.media-gallery-music-player .header{
    background: black !important;
}

.media-gallery-music-player .player-header {
    height: 60px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: black;
    color: white;
}
.iOS7 .media-gallery-music-player .player-header {
    padding-top: 21px;
}
.media-gallery-music-player .player-header .title {
    float: left;
    font-weight: normal;
    padding: 10px;
}
.media-gallery-music-player .player-header .actions {
    float: right;
    text-align: center;
    padding: 5px;
}
.media-gallery-music-player .player-header .actions:after {
    content: '';
    display: block;
    clear: both;
}
.media-gallery-music-player .player-header .action-link {
    display: inline-block;
    width: 25px;
    padding: 3px 6px;
    cursor: pointer;
}
.media-gallery-music-player .player-header .action-link img {
    width: 13px;
    height: 13px;
}
.media-gallery-music-player .player-header .action-label {
    display: block;
    font-size: 10px;
    padding-top: 1px;
}
.media-gallery-music-player .actions-bar {
    clear: both;
    padding: 10px;
    border-top: 1px solid white;
    background: black;
}
.media-gallery-music-player .actions-bar .action-link {
    display: inline-block;
    width: 30px;
    padding: 0 5px 0 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
.media-gallery-music-player .actions-bar .action-link img.repeat-img {
    width: 19px;
    height: 17px;
}
.media-gallery-music-player .actions-bar .action-link img.random-img {
    width: 25px;
    height: 17px;
}
.media-gallery-music-player .actions-bar .action-link img.trash-img {
    width: 12px;
    height: 13px;
}
.media-gallery-music-player .actions-bar .action-link img.cart-img {
    width: 19px;
    height: 17px;
}
.media-gallery-music-player .actions-bar .action-link img.share-img {
    width: 21px;
    height: 17px;
}
.media-gallery-music-player .tracks-list {
    width: 100%;
    margin-top: 85px;
    margin-bottom: 110px;
    bottom: 0;
    left: 0;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    -webkit-overflow-scrolling:touch;
}
.iOS7 .media-gallery-music-player .tracks-list {
    margin-top: 106px;
}
.media-gallery-music-player .tracks-list .track-details {
    cursor: pointer;
}
.media-gallery-music-player .tracks-list .track-details.current * {
    color: #04bdfe;
}
.media-gallery-music-player .tracks-list .track-details > td {
    padding-bottom: 15px;
}
.media-gallery-music-player .tracks-list .track-details .track-description .track-name {
    padding-bottom: 5px;
    font-size: 11px;
}
.media-gallery-music-player .tracks-list .track-details .track-number {
    width: 15px;
    text-align: right;
    font-size: 11px;
    vertical-align: top;
}
.media-gallery-music-player .tracks-list .track-details .track-duration {
    width: 20px;
    text-align: right;
    padding: 0 25px 0 8px;
    vertical-align: top;
    font-size: 11px;
}
.media-gallery-music-player .play-button {
    text-align: center;
    width: 25px;
    padding: 0;
}
.media-gallery-music-player .play-button-image-container {
    margin-top: -5px;
}
.media-gallery-music-player .play-button img {
    height: 9px;
    width: 9px;
    margin: 0;
    padding: 0;
}
.media-gallery-music-player .player-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 110px;
    width: 100%;
    background: black;
    color: white;
    border-top: 1px solid white;
}
.media-gallery-music-player .player-footer .currently-played {
    padding: 10px;
    height: 15px;
}
.media-gallery-music-player .player-footer .currently-played .play-button {
    text-align: left;
    width: 25px;
}
.media-gallery-music-player .player-footer .progress-area {
    padding: 10px;
    height: 20px;
}
.media-gallery-music-player .player-footer .progress-area table {
    width: 100%;
}
.media-gallery-music-player .player-footer .progress-area .played-time {
    width: 50px;
}
.media-gallery-music-player .player-footer .progress-area .duration {
    width: 50px;
    text-align: right;
}
.media-gallery-music-player .player-footer .player-controls {
    padding: 5px 10px;
}
.media-gallery-music-player .player-footer .player-controls .control-group {
    vertical-align: middle;
}
.media-gallery-music-player .player-footer .player-controls .control-group.centered-group {
    margin: auto;
    text-align: center;
}
.media-gallery-music-player .player-footer .player-controls .control-group.left-group {
    float: left;
}
.media-gallery-music-player .player-footer .player-controls .control-group.right-group {
    float: right;
}
.media-gallery-music-player .player-footer .player-controls .control {
    display: inline-block;
    width: 30px;
    cursor: pointer;
    padding: 0;
}
.media-gallery-music-player .player-footer .player-controls .control a {
    width:30px;
}
.media-gallery-music-player .player-footer .player-controls .control a img {
    height: 17px;
}
.media-gallery-music-player .share-area {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 70px;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    z-index: 9999;
}
.media-gallery-music-player .share-area .close-button {
    background: none repeat scroll 0 0 #04bdfe;
    border: 1px solid #ffffff;
    border-radius: 6px;
    color: #ffffff;
    display: block;
    font-family: 'Open Sans' !important;
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    margin: auto auto 40px;
    text-align: center;
    top: 40px;
    width: 150px;
    cursor: pointer;
}
.media-gallery-music-player .share-area .share-link {
    color: #fff;
    display: inline-block;
    font-family: 'Open Sans' !important;
    height: 90px;
    margin: 0 10px 20px;
    text-align: center;
    width: 70px;
    cursor: pointer;
}
.media-gallery-music-player .share-area .share-link img {
    border: 1px solid #fff;
    border-radius: 6px;
    margin-bottom: 10px;
}

.media-gallery-music-playlist-tracks .tracks-list {
    /*position: absolute;*/
    top: 120px;
    bottom: 10px;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0px;
    padding-top: 10px;
    overflow: auto;
}

.player-link {
    left: 0px;
    position: fixed;
    top: 50%;
    z-index: 100;
    cursor: pointer;
}
.truncated-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.truncated-table {
    /*
    http://stackoverflow.com/questions/5932018/fluid-table-with-td-nowrap-text-overflow
*/
    width: 100%;
    table-layout: fixed;
}
.siberian-slider {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 100%;
    min-height: 10px;
}
.siberian-slider .bar {
    position: absolute;
    top: 4px;
    left: 0;
    height: 5px;
    border-radius: 3px 3px 3px 3px;
}
.siberian-slider .bar.progress {
    background: none repeat scroll 0 0 #04bdfe;
    width: 0%;
    z-index: 10;
}
.siberian-slider .bar.total {
    background: none repeat scroll 0 0 #313234;
    width: 100%;
}
