<!-- page header -->
<div class="page-header">
	
	<!-- page header holder -->
	<div class="page-header-holder">
		
		<!-- page logo -->
		<div class="logo">
			<a href="<?php echo $this->getUrl(''); ?>">
				<?php $logo = System_Model_Config::getValueFor("logo"); ?>
				<?php $platform_name = System_Model_Config::getValueFor("platform_name"); ?>
				<img src="<?php echo $logo ? $logo : $this->getImage("header/logo.png"); ?>" id="logo" alt="<?php echo $platform_name; ?>" title="<?php echo $platform_name; ?>" width="150" />
			</a>
		</div>
		<!-- ./page logo -->
		

		<!-- search -->
		<div class="search">
			<div class="search-button"><span class="fa fa-search"></span></div>
			<div class="search-container animated fadeInDown">
				<form action="#" method="post">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search..."/>
						<div class="input-group-btn">
							<button class="btn btn-primary"><span class="fa fa-search"></span></button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- ./search -->

		<!-- nav mobile bars -->
		<div class="navigation-toggle">
			<div class="navigation-toggle-button"><span class="fa fa-bars"></span></div>
		</div>
		<!-- ./nav mobile bars -->
		
		<!-- navigation -->
		<ul class="navigation">
			<li>
				<a href="#">Home</a>
				<ul>
					<li><a href="index.html">With Slider</a></li>
					<li><a href="index-default.html">Default</a></li>
				</ul>
			</li>
			<li>
				<a href="#">Pages</a>
				<ul>
					<li><a href="about-us.html">About Us</a></li>
					<li><a href="contacts.html">Contacts</a></li>
					<li><a href="pricing.html">Pricing</a></li>
				</ul>
			</li>
			<li>
				<a href="#">Blog</a>
				<ul>
					<li><a href="blog-grid.html">Blog Grid</a></li>
					<li><a href="blog-post.html">Blog Post</a></li>                                
				</ul>
			</li>
			<li>
				<a href="#">Portfolio</a>
				<ul>
					<li><a href="portfolio-with-title.html">Portfolio With Title</a></li>
					<li><a href="portfolio-2column.html">Portfolio 2 Column</a></li>
					<li><a href="portfolio-3column.html">Portfolio 3 Column</a></li>
					<li><a href="portfolio-4column.html">Portfolio 4 Column</a></li>
				</ul>
			</li>
			<li><a href="../html/index.html">Admin Template</a></li>
		</ul>
		<!-- ./navigation -->                        

		
	</div>
	<!-- ./page header holder -->
	
</div>
